body {
  margin: 0;
  pading: 0;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  justify-content: center;
  /* justify-content: flex-end or flex-start ; */
  align-items: center;
  height: 100vh;
  background-color: green;
}

.login-page {
  border: 1px solid red;
  border-radius: 20px;
}

form {
  padding: 50px;
}

.heading-text {
  margin: 0;
  padding: 0 0 50px;
  text-align: center;
  font-size: 22px;
}

.user-wrapper {
  display: grid;
  padding: 30px;
}

.user-heading {
  font-size: 20px;
  margin: 10px;
}

.login-input {
  padding: 12px 20px;
}

.password-wrapper {
  display: grid;
}
/* 
h3 {
  margin: 0;
  pading: 0;
  text-align: center;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  background: yellow;
} */
